#blockly-region {
  float:left;
  height: 800px;
  width: 500px;
}
#control-region {
  margin-left: 500px;
  max-height: 200px;
}
#sim-region {
  display: none;
  margin-left: 500px;
  max-width: 500px;
}
